@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #070a0e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.up{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    height: 100%;
    font-weight: 800;
}

.fade-in{
    animation: fadeIn .8s ease-in-out;
}
.fade-out{
    animation: fadeOut .5s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

